<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="com.ytone.longcare.features.location.service.LocationTrackingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="true" />

        <service
            android:name="com.amap.api.location.APSService"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>
</manifest>
